<a href="./order-page.html" class="product-card">
    <div class="product-card__header">
        <img src="./images/product-cards/3-g95-light-surround-gaming-headset/img.png" srcset="
            ./images/product-cards/3-g95-light-surround-gaming-headset/img.png    1x,
            ./images/product-cards/3-g95-light-surround-gaming-headset/img@2x.png 2x,
            ./images/product-cards/3-g95-light-surround-gaming-headset/img@3x.png 3x" alt="card-image"
            class="product-card__image" />
        <div class="product-card__info">
            <p>100% Brand new and high quality!</p>
            <p>Ergonomic in design makes it more adjustable to use.</p>
            <p>More fashionable for your daily use, such as playing games.</p>
            <p>Built-in high sensitivity and noise reduction microphone.</p>
            <p>It is not easy to break or deform, and wear comfortable, no pressure.</p>
        </div>
    </div>
    <div class="product-card__footer">
        <h3 class="product-card__title">G95 Light Surround</h3>
        <p class="product-card__category">Gaming Headset</p>
        <div class="product-card__prices">
            <p class="product-card__old-price">78.98 USD</p>
            <p class="product-card__new-price">50.98 USD</p>
        </div>
    </div>
</a>