html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, address, img, ol, ul, li,
fieldset, form, label, article, footer, header, 
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

footer, header, menu, nav, section {
	display: block;
}

ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}