@mixin flex-position($main-axis: center, $cross-axis: center) {
  display: flex;
  justify-content: $main-axis;
  align-items: $cross-axis;
}

@mixin font($fw: 400, $fs: 24px, $lh: 28px) {
  font-weight: $fw;
  font-size: $fs;
  line-height: calc($lh / $fs);
}

@mixin phone {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
