<section class="banners">
  <h2 class="visually-hidden">Gallery</h2>
  <!-- <div class="container banners__container"> -->
  <div class="swiper banners__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="banner-image__wrapper">
          <span class="banner-image__text banner-image__text--first">One place for everything you want</span>
          <picture>
            <source media="(min-width: 769px)" srcset="
                  ./images/banners/banner-1-dt.webp    1x,
                  ./images/banners/banner-1-dt.jpg     1x,
                  ./images/banners/banner-1-dt@2x.webp 2x,
                  ./images/banners/banner-1-dt@2x.jpg  2x
                " />
            <source media="(min-width: 321px)" srcset="
                  ./images/banners/banner-1-tab.webp    1x,
                  ./images/banners/banner-1-tab.jpg     1x,
                  ./images/banners/banner-1-tab@2x.webp 2x,
                  ./images/banners/banner-1-tab@2x.jpg  2x
                " />
            <source media="(max-width: 320px)" srcset="
                  ./images/banners/banner-1-mob.webp    1x,
                  ./images/banners/banner-1-mob.jpg     1x,
                  ./images/banners/banner-1-mob@2x.webp 2x,
                  ./images/banners/banner-1-mob@2x.jpg  2x,
                  ./images/banners/banner-1-mob@3x.webp 3x,
                  ./images/banners/banner-1-mob@3x.jpg  3x
                " />
            <img src="./images/banners/banner-1-dt.jpg" alt="keyboard for gaming" class="banner-image__image" />
          </picture>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banners__image-wrapper">
          <span class="banner-image__text banner-image__text--second">Best shop for buying GAMING PRODUCTS</span>
          <picture>
            <source media="(min-width: 769px)" srcset="
                  ./images/banners/banner-2-dt.webp    1x,
                  ./images/banners/banner-2-dt.jpg     1x,
                  ./images/banners/banner-2-dt@2x.webp 2x,
                  ./images/banners/banner-2-dt@2x.jpg  2x
                " />
            <source media="(min-width: 321px)" srcset="
                  ./images/banners/banner-2-tab.webp    1x,
                  ./images/banners/banner-2-tab.jpg     1x,
                  ./images/banners/banner-2-tab@2x.webp 2x,
                  ./images/banners/banner-2-tab@2x.jpg  2x
                " />
            <source media="(max-width: 320px)" srcset="
                  ./images/banners/banner-2-mob.webp    1x,
                  ./images/banners/banner-2-mob.jpg     1x,
                  ./images/banners/banner-2-mob@2x.webp 2x,
                  ./images/banners/banner-2-mob@2x.jpg  2x,
                  ./images/banners/banner-2-mob@3x.webp 3x,
                  ./images/banners/banner-2-mob@3x.jpg  3x
                " />
            <img src="./images/banners/banner-2-dt.jpg" alt="keyboard for gaming" class="banner-image__image" />
          </picture>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banners__image-wrapper">
          <span class="banner-image__text banner-image__text--second">High-quality products in lowest price</span>
          <picture>
            <source media="(min-width: 769px)" srcset="
                  ./images/banners/banner-3-dt.webp    1x,
                  ./images/banners/banner-3-dt.jpg     1x,
                  ./images/banners/banner-3-dt@2x.webp 2x,
                  ./images/banners/banner-3-dt@2x.jpg  2x
                " />
            <source media="(min-width: 321px)" srcset="
                  ./images/banners/banner-3-tab.webp    1x,
                  ./images/banners/banner-3-tab.jpg     1x,
                  ./images/banners/banner-3-tab@2x.webp 2x,
                  ./images/banners/banner-3-tab@2x.jpg  2x
                " />
            <source media="(max-width: 320px)" srcset="
                  ./images/banners/banner-3-mob.webp    1x,
                  ./images/banners/banner-3-mob.jpg     1x,
                  ./images/banners/banner-3-mob@2x.webp 2x,
                  ./images/banners/banner-3-mob@2x.jpg  2x,
                  ./images/banners/banner-3-mob@3x.webp 3x,
                  ./images/banners/banner-3-mob@3x.jpg  3x
                " />
            <img src="./images/banners/banner-3-dt.jpg" alt="keyboard for gaming" class="banner-image__image" />
          </picture>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- </div> -->
</section>