<section class="blog">
  <div class="container blog__container">
    <h1 class="blog__title">Blog</h1>
    <ul class="blog__list">
      <li class="article">
        <div class="thumb-picture-desktop">
          <picture class="article__picture-desktop">
            <source srcset="
                /src/images/blog/article1.webp    1x,
                /src/images/blog/article1.jpg     1x,
                /src/images/blog/article1-2x.webp 2x,
                /src/images/blog/article1-2x.jpg  2x,
                /src/images/blog/article1-3x.webp 3x,
                /src/images/blog/article1-3x.jpg  3x
              " media="(min-width: 1280px)" sizes="387px" type="image/webp" />

            <source srcset="
                /src/images/blog/article1-tab.webp    1x,
                /src/images/blog/article1-tab.jpg     1x,
                /src/images/blog/article1-tab-2x.webp 2x,
                /src/images/blog/article1-tab-2x.jpg  2x,
                /src/images/blog/article1-tab-3x.webp 3x,
                /src/images/blog/article1-tab-3x.jpg  3x
              " media="(min-width: 768px)" sizes="387px" type="image/webp" />

            <source srcset="
                /src/images/blog/article1-mob.webp    1x,
                /src/images/blog/article1-mob.jpg     1x,
                /src/images/blog/article1-mob-2x.webp 2x,
                /src/images/blog/article1-mob-2x.jpg  2x,
                /src/images/blog/article1-mob-3x.webp 3x,
                /src/images/blog/article1-mob-3x.jpg  3x
              " media="(min-width: 320px)" sizes="320px" type="image/webp" />

            <img class="article__image" src="/src/images/blog/article1-mob.jpg" alt="a lot of headphones" width="320" />
          </picture>
        </div>

        <div class="content-desktop">
          <h3 class="article__title">
            Guide to Picking The Right Gaming Headset
          </h3>
          <div class="wraper-content">
            <div class="thumb-picture">
              <picture class="article__picture">
                <source srcset="
                    /src/images/blog/article1.webp    1x,
                    /src/images/blog/article1.jpg     1x,
                    /src/images/blog/article1-2x.webp 2x,
                    /src/images/blog/article1-2x.jpg  2x,
                    /src/images/blog/article1-3x.webp 3x,
                    /src/images/blog/article1-3x.jpg  3x
                  " media="(min-width: 1280px)" sizes="387px" type="image/webp" />

                <source srcset="
                    /src/images/blog/article1-tab.webp    1x,
                    /src/images/blog/article1-tab.jpg     1x,
                    /src/images/blog/article1-tab-2x.webp 2x,
                    /src/images/blog/article1-tab-2x.jpg  2x,
                    /src/images/blog/article1-tab-3x.webp 3x,
                    /src/images/blog/article1-tab-3x.jpg  3x
                  " media="(min-width: 768px)" sizes="387px" type="image/webp" />

                <source srcset="
                    /src/images/blog/article1-mob.webp    1x,
                    /src/images/blog/article1-mob.jpg     1x,
                    /src/images/blog/article1-mob-2x.webp 2x,
                    /src/images/blog/article1-mob-2x.jpg  2x,
                    /src/images/blog/article1-mob-3x.webp 3x,
                    /src/images/blog/article1-mob-3x.jpg  3x
                  " media="(min-width: 320px)" sizes="320px" type="image/webp" />

                <img class="article__image" src="/src/images/blog/article1-mob.jpg" alt="a lot of headphones"
                  width="320" />
              </picture>
            </div>

            <div class="wraper-text">
              <p class="article__autor">By Ray Ian Ampoloquio</p>
              <p class="article__update">Updated on September 21, 2022</p>
            </div>
          </div>

          <p class="article__text">
            Learn how to choose an amazing gaming headset with this checklist of
            just 9 surprisingly simple steps. Gaming headsets offer a handy and
            practical solution to any and all of your gaming audio needs. But,
            as with any kind of ...
          </p>
          <a class="article__link" href="./blog-article-page.html">Learn more</a>
        </div>
      </li>

      <li class="article">
        <div class="thumb-picture-desktop">
          <picture class="article__picture-desktop">
            <source srcset="
                /src/images/blog/article2.webp    1x,
                /src/images/blog/article2.jpg     1x,
                /src/images/blog/article2-2x.webp 2x,
                /src/images/blog/article2-2x.jpg  2x,
                /src/images/blog/article2-3x.webp 3x,
                /src/images/blog/article2-3x.jpg  3x
              " media="(min-width: 1280px)" sizes="387px" type="image/webp" />

            <source srcset="
                /src/images/blog/article2-tab.webp    1x,
                /src/images/blog/article2-tab.jpg     1x,
                /src/images/blog/article2-tab-2x.webp 2x,
                /src/images/blog/article2-tab-2x.jpg  2x,
                /src/images/blog/article2-tab-3x.webp 3x,
                /src/images/blog/article2-tab-3x.jpg  3x
              " media="(min-width: 768px)" sizes="387px" type="image/webp" />

            <source srcset="
                /src/images/blog/article2-mob.webp    1x,
                /src/images/blog/article2-mob.jpg     1x,
                /src/images/blog/article2-mob-2x.webp 2x,
                /src/images/blog/article2-mob-2x.jpg  2x,
                /src/images/blog/article2-mob-3x.webp 3x,
                /src/images/blog/article2-mob-3x.jpg  3x
              " media="(min-width: 320px)" sizes="320px" type="image/webp" />

            <img class="article__image" src="/src/images/blog/article2-mob.jpg" alt="man at the computer" width="320" />
          </picture>
        </div>

        <div class="content-desktop">
          <h3 class="article__title">
            Mic Monitoring: What Is It and How It Is Relevant to Gaming
          </h3>
          <div class="wraper-content">
            <div class="thumb-picture">
              <picture class="article__picture">
                <source srcset="
                    /src/images/blog/article2.webp    1x,
                    /src/images/blog/article2.jpg     1x,
                    /src/images/blog/article2-2x.webp 2x,
                    /src/images/blog/article2-2x.jpg  2x,
                    /src/images/blog/article2-3x.webp 3x,
                    /src/images/blog/article2-3x.jpg  3x
                  " media="(min-width: 1280px)" sizes="387px" type="image/webp" />

                <source srcset="
                    /src/images/blog/article2-tab.webp    1x,
                    /src/images/blog/article2-tab.jpg     1x,
                    /src/images/blog/article2-tab-2x.webp 2x,
                    /src/images/blog/article2-tab-2x.jpg  2x,
                    /src/images/blog/article2-tab-3x.webp 3x,
                    /src/images/blog/article2-tab-3x.jpg  3x
                  " media="(min-width: 768px)" sizes="387px" type="image/webp" />

                <source srcset="
                    /src/images/blog/article2-mob.webp    1x,
                    /src/images/blog/article2-mob.jpg     1x,
                    /src/images/blog/article2-mob-2x.webp 2x,
                    /src/images/blog/article2-mob-2x.jpg  2x,
                    /src/images/blog/article2-mob-3x.webp 3x,
                    /src/images/blog/article2-mob-3x.jpg  3x
                  " media="(min-width: 320px)" sizes="320px" type="image/webp" />

                <img class="article__image" src="/src/images/blog/article2-mob.jpg" alt="man at the computer"
                  width="320" />
              </picture>
            </div>

            <div class="wraper-text">
              <p class="article__autor">By Gab L</p>
              <p class="article__update">Updated on September 10, 2022</p>
            </div>
          </div>

          <p class="article__text">
            An explanation and exploration of microphone monitoring — its
            benefits and how you can start using one of the most underrated
            features today ...
          </p>
          <a class="article__link" href="./blog-article-page.html">Learn more</a>
        </div>
      </li>

      <li class="article">
        <div class="thumb-picture-desktop">
          <picture class="article__picture-desktop">
            <source srcset="
                /src/images/blog/article3.webp    1x,
                /src/images/blog/article3.jpg     1x,
                /src/images/blog/article3-2x.webp 2x,
                /src/images/blog/article3-2x.jpg  2x,
                /src/images/blog/article3-3x.webp 3x,
                /src/images/blog/article3-3x.jpg  3x
              " media="(min-width: 1280px)" sizes="387px" type="image/webp" />

            <source srcset="
                /src/images/blog/article3-tab.webp    1x,
                /src/images/blog/article3-tab.jpg     1x,
                /src/images/blog/article3-tab-2x.webp 2x,
                /src/images/blog/article3-tab-2x.jpg  2x,
                /src/images/blog/article3-tab-3x.webp 3x,
                /src/images/blog/article3-tab-3x.jpg  3x
              " media="(min-width: 768px)" sizes="387px" type="image/webp" />

            <source srcset="
                /src/images/blog/article3-mob.webp    1x,
                /src/images/blog/article3-mob.jpg     1x,
                /src/images/blog/article3-mob-2x.webp 2x,
                /src/images/blog/article3-mob-2x.jpg  2x,
                /src/images/blog/article3-mob-3x.webp 3x,
                /src/images/blog/article3-mob-3x.jpg  3x
              " media="(min-width: 320px)" sizes="320px" type="image/webp" />

            <img class="article__image" src="/src/images/blog/article3-mob.jpg" alt="man near the monitor in headphones"
              width="320" />
          </picture>
        </div>

        <div class="content-desktop">
          <h3 class="article__title">How to Choose the Right Gaming Mouse</h3>
          <div class="wraper-content">
            <div class="thumb-picture">
              <picture class="article__picture">
                <source srcset="
                    /src/images/blog/article3.webp    1x,
                    /src/images/blog/article3.jpg     1x,
                    /src/images/blog/article3-2x.webp 2x,
                    /src/images/blog/article3-2x.jpg  2x,
                    /src/images/blog/article3-3x.webp 3x,
                    /src/images/blog/article3-3x.jpg  3x
                  " media="(min-width: 1280px)" sizes="387px" type="image/webp" />

                <source srcset="
                    /src/images/blog/article3-tab.webp    1x,
                    /src/images/blog/article3-tab.jpg     1x,
                    /src/images/blog/article3-tab-2x.webp 2x,
                    /src/images/blog/article3-tab-2x.jpg  2x,
                    /src/images/blog/article3-tab-3x.webp 3x,
                    /src/images/blog/article3-tab-3x.jpg  3x
                  " media="(min-width: 768px)" sizes="387px" type="image/webp" />

                <source srcset="
                    /src/images/blog/article3-mob.webp    1x,
                    /src/images/blog/article3-mob.jpg     1x,
                    /src/images/blog/article3-mob-2x.webp 2x,
                    /src/images/blog/article3-mob-2x.jpg  2x,
                    /src/images/blog/article3-mob-3x.webp 3x,
                    /src/images/blog/article3-mob-3x.jpg  3x
                  " media="(min-width: 320px)" sizes="320px" type="image/webp" />

                <img class="article__image" src="/src/images/blog/article3-mob.jpg"
                  alt="man near the monitor in headphones" width="320" />
              </picture>
            </div>

            <div class="wraper-text">
              <p class="article__autor">By Michael Crider</p>
              <p class="article__update">Updated on September 2, 2022</p>
            </div>
          </div>

          <p class="article__text">
            A good mouse can make a big difference when playing your favorite
            games. Here’s what you need to know about grip styles, types of
            gaming mice, technical specs, and more, before purchasing a new
            gaming mouse ...
          </p>
          <a class="article__link" href="./blog-article-page.html">Learn more</a>
        </div>
      </li>
    </ul>

    <div class="load-box">
      <span class="load-box__bullet"></span>
      <span class="load-box__bullet load-box__bullet--second"></span>
      <span class="load-box__bullet load-box__bullet--third"></span>
    </div>
  </div>
</section>