<header class="header">
  <div class="container header__container">
    <a href="./index.html" class="logo animate__animated animate__fadeIn">SHOP FOR GAMERS</a>

    <button
      type="button"
      class="menu-btn js-open-menu"
      aria-expanded="false"
      aria-controls="menu"
      menu-button
    >
      <svg width="50" height="50" aria-label="mobile menu switcher">
        <use
          href="./images/icons.svg#icon-menu"
          class="menu-btn__icon-menu"
        ></use>
        <use
          href="./images/icons.svg#icon-cross"
          class="menu-btn__icon-cross"
        ></use>
      </svg>
    </button>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="./accessories-page.html" class="navigation__link"
            >Accessories</a
          >
        </li>
        <li class="navigation__item">
          <a href="./contacts-page.html" class="navigation__link">Contact</a>
        </li>
        <li class="navigation__item">
          <a href="./blog-page.html" class="navigation__link">Blog</a>
        </li>
      </ul>
    </nav>

    <a
      href="./accessories-page.html"
      class="btn-primary btn-primary--small header__button"
      >Shop now</a
    >
  </div>
</header>
