
<div class="modal" data-modal="take-order1">
   <svg class="modal__cross js-modal-close">
      <use href="./images/icons.svg#icon-circle-cross"></use>
   </svg>
   <p class="modal__text">Excellent choice! Let's move on to the checkout!</p>
   <a href="./index.html" type="submit" class="btn-primary modal__btn js-modal-close">let's go!</a>
</div>

<div class="modal" data-modal="take-order2">
   <svg class="modal__cross js-modal-close">
      <use href="./images/icons.svg#icon-circle-cross"></use>
   </svg>
   <p class="modal__text">
      Thank you for your order! We will contact you soon!
   </p>
   <a href="./accessories-page.html" class="btn-primary modal__btn js-modal-close">keep shopping</a>
</div>

<div class="modal" data-modal="contact">
   <svg class="modal__cross js-modal-close">
      <use href="./images/icons.svg#icon-circle-cross"></use>
   </svg>
   <p class="modal__text">
      Thank you for your message! We will contact you soon!
   </p>
   <a href="./index.html" type="submit" class="btn-primary modal__btn js-modal-close">ok</a>
</div>

<div class="overlay js-overlay-modal"></div>