<section class="order">
  <div class="container">
    <h2 class="order__section-title">Take order</h2>
    <div class="product">
      <div class="product__container">
        <picture>
          <source
            type="image/avif"
            srcset="
              ./images/take-order/order-product-1-img-mob-1x.avif 1x,
              ./images/take-order/order-product-1-img-mob-2x.avif 2x,
              ./images/take-order/order-product-1-img-mob-3x.avif 3x
            "
            media="(max-width: 767px)"
          />
          <source
            type="image/webp"
            srcset="
              ./images/take-order/order-product-1-img-mob-1x.webp 1x,
              ./images/take-order/order-product-1-img-mob-2x.webp 2x,
              ./images/take-order/order-product-1-img-mob-3x.webp 3x
            "
            media="(max-width: 767px)"
          />
          <source
            type="image/avif"
            srcset="
              ./images/take-order/order-product-1-img-tab-1x.avif 1x,
              ./images/take-order/order-product-1-img-tab-2x.avif 2x,
              ./images/take-order/order-product-1-img-tab-3x.avif 3x
            "
            media="(min-width: 768px)"
          />
          <source
            type="image/webp"
            srcset="
              ./images/take-order/order-product-1-img-tab-1x.webp 1x,
              ./images/take-order/order-product-1-img-tab-2x.webp 2x,
              ./images/take-order/order-product-1-img-tab-3x.webp 3x
            "
            media="(min-width: 768px)"
          />
          <img
            loading="lazy"
            srcset="
              ./images/take-order/order-product-1-img-mob-1x.jpeg  288w,
              ./images/take-order/order-product-1-img-tab-1x.jpeg  387w,
              ./images/take-order/order-product-1-img-mob-2x.jpeg  576w,
              ./images/take-order/order-product-1-img-tab-2x.jpeg  774w,
              ./images/take-order/order-product-1-img-mob-3x.jpeg  864w,
              ./images/take-order/order-product-1-img-tab-3x.jpeg 1161w
            "
            src="./images/take-order/order-product-1-img-mob-1x.jpeg"
            alt="product photo Xiberia K9D PRO PC Headset Silver Gray"
            sizes="(min-width: 1280px) 30vw, (min-width: 768px) 50vw, 100vw"
          />
        </picture>
      </div>
      <h3 class="product__title">Xiberia K9 PRO PC Headset</h3>
      <ul class="price">
        <li class="price--first-price">
          65.14<span class="price__currency">USD</span>
        </li>
        <li class="price--second-price">
          55.14<span class="price__currency">USD</span>
        </li>
      </ul>
      <ul class="product__img-list">
        <li class="product__img-item">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./images/take-order/order-product-2-img-mob-1x.avif 1x,
                ./images/take-order/order-product-2-img-mob-2x.avif 2x,
                ./images/take-order/order-product-2-img-mob-3x.avif 3x
              "
              media="(max-width: 767px)"
            />
            <source
              type="image/webp"
              srcset="
                ./images/take-order/order-product-2-img-mob-1x.webp 1x,
                ./images/take-order/order-product-2-img-mob-2x.webp 2x,
                ./images/take-order/order-product-2-img-mob-3x.webp 3x
              "
              media="(max-width: 767px)"
            />
            <source
              type="image/avif"
              srcset="
                ./images/take-order/order-product-2-img-tab-1x.avif 1x,
                ./images/take-order/order-product-2-img-tab-2x.avif 2x,
                ./images/take-order/order-product-2-img-tab-3x.avif 3x
              "
              media="(min-width: 768px)"
            />
            <source
              type="image/webp"
              srcset="
                ./images/take-order/order-product-2-img-tab-1x.webp 1x,
                ./images/take-order/order-product-2-img-tab-2x.webp 2x,
                ./images/take-order/order-product-2-img-tab-3x.webp 3x
              "
              media="(min-width: 768px)"
            />
            <img
              loading="lazy"
              srcset="
                ./images/take-order/order-product-2-img-mob-1x.jpeg  60w,
                ./images/take-order/order-product-2-img-mob-2x.jpeg 120w,
                ./images/take-order/order-product-2-img-tab-1x.jpeg 154w,
                ./images/take-order/order-product-2-img-mob-3x.jpeg 180w,
                ./images/take-order/order-product-2-img-tab-2x.jpeg 308w,
                ./images/take-order/order-product-2-img-tab-3x.jpeg 462w
              "
              src="./images/take-order/order-product-2-img-mob-1x.jpeg"
              alt="product photo Xiberia K9 PRO PC Headset black-red model"
              sizes="(max-width: 767px) 18vw, (min-width: 768px) 20vw, (min-width: 1280px) 12vw"
            />
          </picture>
        </li>
        <li class="product__img-item">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./images/take-order/order-product-3-img-mob-1x.avif 1x,
                ./images/take-order/order-product-3-img-mob-2x.avif 2x,
                ./images/take-order/order-product-3-img-mob-3x.avif 3x
              "
              media="(max-width: 767px)"
            />
            <source
              type="image/webp"
              srcset="
                ./images/take-order/order-product-3-img-mob-1x.webp 1x,
                ./images/take-order/order-product-3-img-mob-2x.webp 2x,
                ./images/take-order/order-product-3-img-mob-3x.webp 3x
              "
              media="(max-width: 767px)"
            />
            <source
              type="image/avif"
              srcset="
                ./images/take-order/order-product-3-img-tab-1x.avif 1x,
                ./images/take-order/order-product-3-img-tab-2x.avif 2x,
                ./images/take-order/order-product-3-img-tab-3x.avif 3x
              "
              media="(min-width: 768px)"
            />
            <source
              type="image/webp"
              srcset="
                ./images/take-order/order-product-3-img-tab-1x.webp 1x,
                ./images/take-order/order-product-3-img-tab-2x.webp 2x,
                ./images/take-order/order-product-3-img-tab-3x.webp 3x
              "
              media="(min-width: 768px)"
            />
            <img
              loading="lazy"
              srcset="
                ./images/take-order/order-product-3-img-mob-1x.jpeg  60w,
                ./images/take-order/order-product-3-img-mob-2x.jpeg 120w,
                ./images/take-order/order-product-3-img-tab-1x.jpeg 154w,
                ./images/take-order/order-product-3-img-mob-3x.jpeg 180w,
                ./images/take-order/order-product-3-img-tab-2x.jpeg 308w,
                ./images/take-order/order-product-3-img-tab-3x.jpeg 462w
              "
              src="./images/take-order/order-product-3-img-mob-1x.jpeg"
              alt="product photo Xiberia K9U PRO PC Headset White Blue"
              sizes="(max-width: 767px) 18vw, (min-width: 768px) 20vw, (min-width: 1280px) 12vw"
            />
          </picture>
        </li>
        <li class="product__img-item">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./images/take-order/order-product-4-img-mob-1x.avif 1x,
                ./images/take-order/order-product-4-img-mob-2x.avif 2x,
                ./images/take-order/order-product-4-img-mob-3x.avif 3x
              "
              media="(max-width: 767px)"
            />
            <source
              type="image/webp"
              srcset="
                ./images/take-order/order-product-4-img-mob-1x.webp 1x,
                ./images/take-order/order-product-4-img-mob-2x.webp 2x,
                ./images/take-order/order-product-4-img-mob-3x.webp 3x
              "
              media="(max-width: 767px)"
            />
            <source
              type="image/avif"
              srcset="
                ./images/take-order/order-product-4-img-tab-1x.avif 1x,
                ./images/take-order/order-product-4-img-tab-2x.avif 2x,
                ./images/take-order/order-product-4-img-tab-3x.avif 3x
              "
              media="(min-width: 768px)"
            />
            <source
              type="image/webp"
              srcset="
                ./images/take-order/order-product-4-img-tab-1x.webp 1x,
                ./images/take-order/order-product-4-img-tab-2x.webp 2x,
                ./images/take-order/order-product-4-img-tab-3x.webp 3x
              "
              media="(min-width: 768px)"
            />
            <img
              loading="lazy"
              srcset="
                ./images/take-order/order-product-4-img-mob-1x.jpeg  60w,
                ./images/take-order/order-product-4-img-mob-2x.jpeg 120w,
                ./images/take-order/order-product-4-img-tab-1x.jpeg 154w,
                ./images/take-order/order-product-4-img-mob-3x.jpeg 180w,
                ./images/take-order/order-product-4-img-tab-2x.jpeg 308w,
                ./images/take-order/order-product-4-img-tab-3x.jpeg 462w
              "
              src="./images/take-order/order-product-4-img-mob-1x.jpeg"
              alt="product photo Xiberia K9 PRO PC Headset black-red model"
              sizes="(max-width: 767px) 18vw, (min-width: 768px) 20vw, (min-width: 1280px) 12vw"
            />
          </picture>
        </li>
        <li class="product__img-item">
          <picture>
            <source
              type="image/avif"
              srcset="
                ./images/take-order/order-product-5-img-mob-1x.avif 1x,
                ./images/take-order/order-product-5-img-mob-2x.avif 2x,
                ./images/take-order/order-product-5-img-mob-3x.avif 3x
              "
              media="(max-width: 767px)"
            />
            <source
              type="image/webp"
              srcset="
                ./images/take-order/order-product-5-img-mob-1x.webp 1x,
                ./images/take-order/order-product-5-img-mob-2x.webp 2x,
                ./images/take-order/order-product-5-img-mob-3x.webp 3x
              "
              media="(max-width: 767px)"
            />
            <source
              type="image/avif"
              srcset="
                ./images/take-order/order-product-5-img-tab-1x.avif 1x,
                ./images/take-order/order-product-5-img-tab-2x.avif 2x,
                ./images/take-order/order-product-5-img-tab-3x.avif 3x
              "
              media="(min-width: 768px)"
            />
            <source
              type="image/webp"
              srcset="
                ./images/take-order/order-product-5-img-tab-1x.webp 1x,
                ./images/take-order/order-product-5-img-tab-2x.webp 2x,
                ./images/take-order/order-product-5-img-tab-3x.webp 3x
              "
              media="(min-width: 768px)"
            />
            <img
              loading="lazy"
              srcset="
                ./images/take-order/order-product-5-img-mob-1x.jpeg  60w,
                ./images/take-order/order-product-5-img-mob-2x.jpeg 120w,
                ./images/take-order/order-product-5-img-tab-1x.jpeg 154w,
                ./images/take-order/order-product-5-img-mob-3x.jpeg 180w,
                ./images/take-order/order-product-5-img-tab-2x.jpeg 308w,
                ./images/take-order/order-product-5-img-tab-3x.jpeg 462w
              "
              src="./images/take-order/order-product-5-img-mob-1x.jpeg"
              alt="product photo Xiberia K9 PRO PC Headset black-red model"
              sizes="(max-width: 767px) 18vw, (min-width: 768px) 20vw, (min-width: 1280px) 12vw"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="order-contact-form">
  <h2 class="order__section-contact-title">Contact us</h2>
  <form action="" name="order__form" autocomplete="on" novalidate>
    <div>
      <div class="order__form-field">
        <label class="order__form-label">
          Name
          <input type="text" name="order__username" autofocus />
        </label>
      </div>
      <div class="order__form-field">
        <label class="order__form-label">
          Email
          <input type="email" name="order__email" />
        </label>
      </div>
      <div class="order__form-field">
        <label class="order__form-label" for="order__color">Color Option</label>
        <select id="order__color" name="order__color">
          <option value="k9d-black-orange">K9D Black Orange</option>
          <option value="k9d-silver-gray">K9D Silver Gray</option>
          <option value="k9u-white-blue" selected>K9U White Blue</option>
        </select>
      </div>

      <div class="order__form-field">
        <!-- <label>
                Quantity
                <input type="number" name="order__quantity" min="0" />
              </label> -->
        <label class="order__form-label" for="order__quantity">Quantity</label>
        <select id="order__quantity" name="order__quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3" selected>3</option>
        </select>
      </div>

      <div class="order__form-field">
        <label class="order__form-label" for="order__payment">Payment</label>
        <select id="order__payment" name="order__payment">
          <option value="privat24">Privat24</option>
          <option value="monobank">Monobank</option>
          <option value="paypal" selected>PayPal</option>
        </select>
      </div>
    </div>
    <label class="order__form-label">
      Leave your message
      <textarea
        class="order__user-comment"
        name="order__user-comment"
        rows="5"
        placeholder=""
      ></textarea>
    </label>

    <button class="order__button--buy-now" type="submit">Buy it now</button>
    <button class="order__button--cart" type="submit">Add to cart</button>
  </form>
</section>
