<main class="take-order-page">
  <section class="order__section">
    <div class="container">
      <h1 class="order__section-title">Take order</h1>

      <div class="order-product">
        <h2 class="order-product__title">Xiberia K9 PRO PC Headset</h2>
        <div class="order-product__container">
          <picture class="order-product__main-picture">
            <source
              type="image/avif"
              srcset="
                ./images/take-order/order-product-1-img-mob-1x.avif 1x,
                ./images/take-order/order-product-1-img-mob-2x.avif 2x,
                ./images/take-order/order-product-1-img-mob-3x.avif 3x
              "
              media="(max-width: 767px)"
            />
            <source
              type="image/webp"
              srcset="
                ./images/take-order/order-product-1-img-mob-1x.webp 1x,
                ./images/take-order/order-product-1-img-mob-2x.webp 2x,
                ./images/take-order/order-product-1-img-mob-3x.webp 3x
              "
              media="(max-width: 767px)"
            />
            <source
              type="image/avif"
              srcset="
                ./images/take-order/order-product-1-img-tab-1x.avif 1x,
                ./images/take-order/order-product-1-img-tab-2x.avif 2x,
                ./images/take-order/order-product-1-img-tab-3x.avif 3x
              "
              media="(min-width: 768px)"
            />
            <source
              type="image/webp"
              srcset="
                ./images/take-order/order-product-1-img-tab-1x.webp 1x,
                ./images/take-order/order-product-1-img-tab-2x.webp 2x,
                ./images/take-order/order-product-1-img-tab-3x.webp 3x
              "
              media="(min-width: 768px)"
            />
            <img
              loading="lazy"
              srcset="
                ./images/take-order/order-product-1-img-mob-1x.jpeg  288w,
                ./images/take-order/order-product-1-img-tab-1x.jpeg  387w,
                ./images/take-order/order-product-1-img-mob-2x.jpeg  576w,
                ./images/take-order/order-product-1-img-tab-2x.jpeg  774w,
                ./images/take-order/order-product-1-img-mob-3x.jpeg  864w,
                ./images/take-order/order-product-1-img-tab-3x.jpeg 1161w
              "
              src="./images/take-order/order-product-1-img-mob-1x.jpeg"
              alt="product photo Xiberia K9D PRO PC Headset Silver Gray"
              sizes="(min-width: 1280px) 30vw, (min-width: 768px) 50vw, 100vw"
            />
          </picture>

          <ul class="order-price">
            <li class="order-price--first-price">
              65.14<span class="price__currency price__currency--first-price"
                >USD</span
              >
            </li>
            <li class="order-price--second-price">
              55.14<span class="price__currency price__currency--second-price"
                >USD</span
              >
            </li>
          </ul>
        </div>
        <ul class="order-product__img-list">
          <li class="order-product__img-item">
            <picture>
              <source
                type="image/avif"
                srcset="
                  ./images/take-order/order-product-2-img-mob-1x.avif 1x,
                  ./images/take-order/order-product-2-img-mob-2x.avif 2x,
                  ./images/take-order/order-product-2-img-mob-3x.avif 3x
                "
                media="(max-width: 767px)"
              />
              <source
                type="image/webp"
                srcset="
                  ./images/take-order/order-product-2-img-mob-1x.webp 1x,
                  ./images/take-order/order-product-2-img-mob-2x.webp 2x,
                  ./images/take-order/order-product-2-img-mob-3x.webp 3x
                "
                media="(max-width: 767px)"
              />
              <source
                type="image/avif"
                srcset="
                  ./images/take-order/order-product-2-img-tab-1x.avif 1x,
                  ./images/take-order/order-product-2-img-tab-2x.avif 2x,
                  ./images/take-order/order-product-2-img-tab-3x.avif 3x
                "
                media="(min-width: 768px)"
              />
              <source
                type="image/webp"
                srcset="
                  ./images/take-order/order-product-2-img-tab-1x.webp 1x,
                  ./images/take-order/order-product-2-img-tab-2x.webp 2x,
                  ./images/take-order/order-product-2-img-tab-3x.webp 3x
                "
                media="(min-width: 768px)"
              />
              <img
                loading="lazy"
                srcset="
                  ./images/take-order/order-product-2-img-mob-1x.jpeg  60w,
                  ./images/take-order/order-product-2-img-mob-2x.jpeg 120w,
                  ./images/take-order/order-product-2-img-tab-1x.jpeg 154w,
                  ./images/take-order/order-product-2-img-mob-3x.jpeg 180w,
                  ./images/take-order/order-product-2-img-tab-2x.jpeg 308w,
                  ./images/take-order/order-product-2-img-tab-3x.jpeg 462w
                "
                src="./images/take-order/order-product-2-img-mob-1x.jpeg"
                alt="product photo Xiberia K9 PRO PC Headset black-red model"
                sizes="(max-width: 767px) 18vw, (min-width: 768px) 20vw, (min-width: 1280px) 12vw"
              />
            </picture>
          </li>
          <li class="order-product__img-item">
            <picture>
              <source
                type="image/avif"
                srcset="
                  ./images/take-order/order-product-3-img-mob-1x.avif 1x,
                  ./images/take-order/order-product-3-img-mob-2x.avif 2x,
                  ./images/take-order/order-product-3-img-mob-3x.avif 3x
                "
                media="(max-width: 767px)"
              />
              <source
                type="image/webp"
                srcset="
                  ./images/take-order/order-product-3-img-mob-1x.webp 1x,
                  ./images/take-order/order-product-3-img-mob-2x.webp 2x,
                  ./images/take-order/order-product-3-img-mob-3x.webp 3x
                "
                media="(max-width: 767px)"
              />
              <source
                type="image/avif"
                srcset="
                  ./images/take-order/order-product-3-img-tab-1x.avif 1x,
                  ./images/take-order/order-product-3-img-tab-2x.avif 2x,
                  ./images/take-order/order-product-3-img-tab-3x.avif 3x
                "
                media="(min-width: 768px)"
              />
              <source
                type="image/webp"
                srcset="
                  ./images/take-order/order-product-3-img-tab-1x.webp 1x,
                  ./images/take-order/order-product-3-img-tab-2x.webp 2x,
                  ./images/take-order/order-product-3-img-tab-3x.webp 3x
                "
                media="(min-width: 768px)"
              />
              <img
                loading="lazy"
                srcset="
                  ./images/take-order/order-product-3-img-mob-1x.jpeg  60w,
                  ./images/take-order/order-product-3-img-mob-2x.jpeg 120w,
                  ./images/take-order/order-product-3-img-tab-1x.jpeg 154w,
                  ./images/take-order/order-product-3-img-mob-3x.jpeg 180w,
                  ./images/take-order/order-product-3-img-tab-2x.jpeg 308w,
                  ./images/take-order/order-product-3-img-tab-3x.jpeg 462w
                "
                src="./images/take-order/order-product-3-img-mob-1x.jpeg"
                alt="product photo Xiberia K9U PRO PC Headset White Blue"
                sizes="(max-width: 767px) 18vw, (min-width: 768px) 20vw, (min-width: 1280px) 12vw"
              />
            </picture>
          </li>
          <li class="order-product__img-item">
            <picture>
              <source
                type="image/avif"
                srcset="
                  ./images/take-order/order-product-4-img-mob-1x.avif 1x,
                  ./images/take-order/order-product-4-img-mob-2x.avif 2x,
                  ./images/take-order/order-product-4-img-mob-3x.avif 3x
                "
                media="(max-width: 767px)"
              />
              <source
                type="image/webp"
                srcset="
                  ./images/take-order/order-product-4-img-mob-1x.webp 1x,
                  ./images/take-order/order-product-4-img-mob-2x.webp 2x,
                  ./images/take-order/order-product-4-img-mob-3x.webp 3x
                "
                media="(max-width: 767px)"
              />
              <source
                type="image/avif"
                srcset="
                  ./images/take-order/order-product-4-img-tab-1x.avif 1x,
                  ./images/take-order/order-product-4-img-tab-2x.avif 2x,
                  ./images/take-order/order-product-4-img-tab-3x.avif 3x
                "
                media="(min-width: 768px)"
              />
              <source
                type="image/webp"
                srcset="
                  ./images/take-order/order-product-4-img-tab-1x.webp 1x,
                  ./images/take-order/order-product-4-img-tab-2x.webp 2x,
                  ./images/take-order/order-product-4-img-tab-3x.webp 3x
                "
                media="(min-width: 768px)"
              />
              <img
                loading="lazy"
                srcset="
                  ./images/take-order/order-product-4-img-mob-1x.jpeg  60w,
                  ./images/take-order/order-product-4-img-mob-2x.jpeg 120w,
                  ./images/take-order/order-product-4-img-tab-1x.jpeg 154w,
                  ./images/take-order/order-product-4-img-mob-3x.jpeg 180w,
                  ./images/take-order/order-product-4-img-tab-2x.jpeg 308w,
                  ./images/take-order/order-product-4-img-tab-3x.jpeg 462w
                "
                src="./images/take-order/order-product-4-img-mob-1x.jpeg"
                alt="product photo Xiberia K9 PRO PC Headset black-red model"
                sizes="(max-width: 767px) 18vw, (min-width: 768px) 20vw, (min-width: 1280px) 12vw"
              />
            </picture>
          </li>
          <li class="order-product__img-item">
            <picture>
              <source
                type="image/avif"
                srcset="
                  ./images/take-order/order-product-5-img-mob-1x.avif 1x,
                  ./images/take-order/order-product-5-img-mob-2x.avif 2x,
                  ./images/take-order/order-product-5-img-mob-3x.avif 3x
                "
                media="(max-width: 767px)"
              />
              <source
                type="image/webp"
                srcset="
                  ./images/take-order/order-product-5-img-mob-1x.webp 1x,
                  ./images/take-order/order-product-5-img-mob-2x.webp 2x,
                  ./images/take-order/order-product-5-img-mob-3x.webp 3x
                "
                media="(max-width: 767px)"
              />
              <source
                type="image/avif"
                srcset="
                  ./images/take-order/order-product-5-img-tab-1x.avif 1x,
                  ./images/take-order/order-product-5-img-tab-2x.avif 2x,
                  ./images/take-order/order-product-5-img-tab-3x.avif 3x
                "
                media="(min-width: 768px)"
              />
              <source
                type="image/webp"
                srcset="
                  ./images/take-order/order-product-5-img-tab-1x.webp 1x,
                  ./images/take-order/order-product-5-img-tab-2x.webp 2x,
                  ./images/take-order/order-product-5-img-tab-3x.webp 3x
                "
                media="(min-width: 768px)"
              />
              <img
                loading="lazy"
                srcset="
                  ./images/take-order/order-product-5-img-mob-1x.jpeg  60w,
                  ./images/take-order/order-product-5-img-mob-2x.jpeg 120w,
                  ./images/take-order/order-product-5-img-tab-1x.jpeg 154w,
                  ./images/take-order/order-product-5-img-mob-3x.jpeg 180w,
                  ./images/take-order/order-product-5-img-tab-2x.jpeg 308w,
                  ./images/take-order/order-product-5-img-tab-3x.jpeg 462w
                "
                src="./images/take-order/order-product-5-img-mob-1x.jpeg"
                alt="product photo Xiberia K9 PRO PC Headset black-red model"
                sizes="(max-width: 767px) 18vw, (min-width: 768px) 20vw, (min-width: 1280px) 12vw"
              />
            </picture>
          </li>
        </ul>
      </div>

      <div class="order-product-desktop">
        <picture class="order-product__main-picture">
          <source
            type="image/avif"
            srcset="
              ./images/take-order/order-product-1-img-tab-1x.avif 1x,
              ./images/take-order/order-product-1-img-tab-2x.avif 2x,
              ./images/take-order/order-product-1-img-tab-3x.avif 3x
            "
            media="(min-width: 768px)"
          />
          <source
            type="image/webp"
            srcset="
              ./images/take-order/order-product-1-img-tab-1x.webp 1x,
              ./images/take-order/order-product-1-img-tab-2x.webp 2x,
              ./images/take-order/order-product-1-img-tab-3x.webp 3x
            "
            media="(min-width: 768px)"
          />
          <img
            loading="lazy"
            srcset="
              ./images/take-order/order-product-1-img-tab-1x.jpeg  387w,
              ./images/take-order/order-product-1-img-tab-2x.jpeg  774w,
              ./images/take-order/order-product-1-img-tab-3x.jpeg 1161w
            "
            src="./images/take-order/order-product-1-img-tab-1x.jpeg"
            alt="product photo Xiberia K9D PRO PC Headset Silver Gray"
            sizes="(min-width: 1280px) 30vw"
          />
        </picture>
        <div class="order-product-wrapper--desktop">
          <h3 class="order-product__title">Xiberia K9 PRO PC Headset</h3>

          <ul class="order-price">
            <li class="order-price--first-price">
              65.14<span class="price__currency price__currency--first-price"
                >USD</span
              >
            </li>
            <li class="order-price--second-price">
              55.14<span class="price__currency price__currency--second-price"
                >USD</span
              >
            </li>
          </ul>

          <ul class="order-product__img-list">
            <li class="order-product__img-item">
              <picture>
                <source
                  type="image/avif"
                  srcset="
                    ./images/take-order/order-product-2-img-tab-1x.avif 1x,
                    ./images/take-order/order-product-2-img-tab-2x.avif 2x,
                    ./images/take-order/order-product-2-img-tab-3x.avif 3x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/webp"
                  srcset="
                    ./images/take-order/order-product-2-img-tab-1x.webp 1x,
                    ./images/take-order/order-product-2-img-tab-2x.webp 2x,
                    ./images/take-order/order-product-2-img-tab-3x.webp 3x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  loading="lazy"
                  srcset="
                    ./images/take-order/order-product-2-img-tab-1x.jpeg 154w,
                    ./images/take-order/order-product-2-img-tab-2x.jpeg 308w,
                    ./images/take-order/order-product-2-img-tab-3x.jpeg 462w
                  "
                  src="./images/take-order/order-product-2-img-tab-1x.jpeg"
                  alt="product photo Xiberia K9 PRO PC Headset black-red model"
                  sizes="(min-width: 1280px) 12vw"
                />
              </picture>
            </li>
            <li class="order-product__img-item">
              <picture>
                <source
                  type="image/avif"
                  srcset="
                    ./images/take-order/order-product-3-img-tab-1x.avif 1x,
                    ./images/take-order/order-product-3-img-tab-2x.avif 2x,
                    ./images/take-order/order-product-3-img-tab-3x.avif 3x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/webp"
                  srcset="
                    ./images/take-order/order-product-3-img-tab-1x.webp 1x,
                    ./images/take-order/order-product-3-img-tab-2x.webp 2x,
                    ./images/take-order/order-product-3-img-tab-3x.webp 3x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  loading="lazy"
                  srcset="
                    ./images/take-order/order-product-3-img-tab-1x.jpeg 154w,
                    ./images/take-order/order-product-3-img-tab-2x.jpeg 308w,
                    ./images/take-order/order-product-3-img-tab-3x.jpeg 462w
                  "
                  src="./images/take-order/order-product-3-img-mob-1x.jpeg"
                  alt="product photo Xiberia K9U PRO PC Headset White Blue"
                  sizes="(min-width: 1280px) 12vw"
                />
              </picture>
            </li>
            <li class="order-product__img-item">
              <picture>
                <source
                  type="image/avif"
                  srcset="
                    ./images/take-order/order-product-4-img-tab-1x.avif 1x,
                    ./images/take-order/order-product-4-img-tab-2x.avif 2x,
                    ./images/take-order/order-product-4-img-tab-3x.avif 3x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/webp"
                  srcset="
                    ./images/take-order/order-product-4-img-tab-1x.webp 1x,
                    ./images/take-order/order-product-4-img-tab-2x.webp 2x,
                    ./images/take-order/order-product-4-img-tab-3x.webp 3x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  loading="lazy"
                  srcset="
                    ./images/take-order/order-product-4-img-tab-1x.jpeg 154w,
                    ./images/take-order/order-product-4-img-tab-2x.jpeg 308w,
                    ./images/take-order/order-product-4-img-tab-3x.jpeg 462w
                  "
                  src="./images/take-order/order-product-4-img-tab-1x.jpeg"
                  alt="product photo Xiberia K9 PRO PC Headset black-red model"
                  sizes="(min-width: 1280px) 12vw"
                />
              </picture>
            </li>
            <li class="order-product__img-item">
              <picture>
                <source
                  type="image/avif"
                  srcset="
                    ./images/take-order/order-product-5-img-tab-1x.avif 1x,
                    ./images/take-order/order-product-5-img-tab-2x.avif 2x,
                    ./images/take-order/order-product-5-img-tab-3x.avif 3x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  type="image/webp"
                  srcset="
                    ./images/take-order/order-product-5-img-tab-1x.webp 1x,
                    ./images/take-order/order-product-5-img-tab-2x.webp 2x,
                    ./images/take-order/order-product-5-img-tab-3x.webp 3x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  loading="lazy"
                  srcset="
                    ./images/take-order/order-product-5-img-tab-1x.jpeg 154w,
                    ./images/take-order/order-product-5-img-tab-2x.jpeg 308w,
                    ./images/take-order/order-product-5-img-tab-3x.jpeg 462w
                  "
                  src="./images/take-order/order-product-5-img-tab-1x.jpeg"
                  alt="product photo Xiberia K9 PRO PC Headset black-red model"
                  sizes="(min-width: 1280px) 12vw"
                />
              </picture>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="order-contact-form">
    <div class="container">
      <h2 class="order__section-contact-title">Contact us</h2>
      <form
        class="order__form"
        action=""
        name="order__form"
        autocomplete="off"
        novalidate
      >
        <div class="order__contact-container">
          <div class="order__contact-input-wrapper">
            <div class="order__form-field">
              <input
                type="text"
                class="order__form-input"
                id="order__username"
                name="order__username"
                placeholder=" "
              />
              <label for="order__username" class="order__form-label">
                Name
              </label>
            </div>
            <div class="order__form-field">
              <input
                type="email"
                class="order__form-input"
                id="order__email"
                name="order__email"
                placeholder=" "
              />
              <label for="order__email" class="order__form-label">
                Email
              </label>
            </div>

            <div class="order__form-field">
              <details class="order__details">
                <summary class="order__summary">Color Option</summary>
                <select
                  class="order__select"
                  id="order__color"
                  name="order__color"
                  size="3"
                >
                  <option class="order__option" value="k9d-black-orange">
                    K9D Black Orange
                  </option>
                  <option class="order__option" value="k9d-silver-gray">
                    K9D Silver Gray
                  </option>
                  <option class="order__option" value="k9u-white-blue">
                    K9U White Blue
                  </option>
                </select>
              </details>
            </div>

            <div class="order__form-field">
              <!-- <label>
                Quantity
                <input type="number" name="order__quantity" min="0" />
              </label> -->
              <details class="order__details">
                <summary class="order__summary">Quantity</summary>
                <select
                  class="order__select"
                  id="order__quantity"
                  name="order__quantity"
                  size="3"
                >
                  <option class="order__option" value="1">1</option>
                  <option class="order__option" value="2">2</option>
                  <option class="order__option" value="3">3</option>
                  <option class="order__option" value="4">4</option>
                  <option class="order__option" value="5">5</option>
                </select>
              </details>
            </div>

            <div class="order__form-field">
              <details class="order__details">
                <summary class="order__summary">Payment</summary>
                <select
                  class="order__select"
                  id="order__payment"
                  name="order__payment"
                  size="3"
                >
                  <option class="order__option" value="privat24">
                    Privat24
                  </option>
                  <option class="order__option" value="monobank">
                    Monobank
                  </option>
                  <option class="order__option" value="paypal">PayPal</option>
                </select>
              </details>
            </div>
          </div>

          <div class="order-comment">
            <label class="order__form-label-comment" for="order__user-comment">
              Leave your message</label
            >
            <textarea
              class="order-comment__comment-area"
              name="order__user-comment"
              id="order__user-comment"
              rows="5"
              placeholder=" "
            ></textarea>
          </div>
        </div>

        <div class="order__buttons">
          <button class="order__button order__btn-primary js-open-modal" data-modal="take-order1" type="submit">
            Buy it now
          </button>
          <button class="order__button order__btn-secondary js-open-modal" data-modal="take-order2" type="submit">
            Add to cart
          </button>
        </div>
      </form>
    </div>
  </section>
</main>
