<section class="sale">
  <div class="sale__container">
    <div class=" container sale__content-wrapper">
      <h2 class="sale__title">Sale</h2>

      <!-- product-card container -->

      <ul class="sale__list">
        <li class="sale__item">
          <include src="./partials/product-cards/xiberia-k9-pro-pc.html"></include>
        </li>
        <li class=" sale__item">
          <include src="./partials/product-cards/g95-light-surraund.html"></include>
        </li>
        <li class="sale__item">
          <include src="./partials/product-cards/g96-light-surround.html"></include>
        </li>
        <li class="sale__item">
          <include src="./partials/product-cards/logitech-g230-stereo.html"></include>
        </li>
        <li class="sale__item">
          <include src="./partials/product-cards/rgb-led-backlit.html"></include>
        </li>
        <li class="sale__item">
          <include src="./partials/product-cards/k569-rgb-led-backlit.html"></include>
        </li>
        <li class="sale__item">
          <include src="./partials/product-cards/malloom-1200.html"></include>
        </li>
        <li class="sale__item">
          <include src="./partials/product-cards/darshion-3200-dpi-mz-17.html"></include>
        </li>
      </ul>
      <a href="./accessories-page.html" class="sale__btn btn link">View all</a>
    </div>
  </div>
</section>