.accessories {
  background: getColor('BackgroundColor');
}

.accessories__main {
  background-size: cover;
  background-image: url(../images/accessories/bg/bg-mob.jpg);

  @include phone {
    background-image: url(../images/accessories/bg/bg-mob-2x.jpg);
    background-image: url(../images/accessories/bg/bg-mob-3x.jpg);
    background-position-x: 60px;
    background-position-y: -120px;
  }

  @include tablet {
    background-image: url(../images/accessories/bg/bg-tab.jpg);

    background-image: url(../images/accessories/bg/bg-tab-2x.jpg);
    background-image: url(../images/accessories/bg/bg-tab-3x.jpg);
    background-position-x: -100px;
    background-position-y: -225px;
  }

  @include desktop {
    background-image: url(../images/accessories/bg/bg-desctop.jpg);

    background-image: url(../images/accessories/bg/bg-desctop-2x.jpg);
    background-image: url(../images/accessories/bg/bg-desctop-3x.jpg);
    background-position-x: -90px;
    background-position-y: -120px;
  }

  background-repeat: no-repeat;
  width: 100%;

  padding-top: 40px;
  padding-bottom: 48px;

  @include tablet {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

// Page tile

.accessorTitle__text {
  @include font(500, 24px, 28px);
  color: getColor('PrimaryTitleColor');

  margin-bottom: 27px;

  @include tablet {
    @include font(500, 56px, 66px);
    margin-bottom: 51px;
    padding-left: 100px;
  }
}

// Lines

.lineTop {
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__phone {
    display: none;
    @media screen and(max-width:767.5px) {
      display: block;
      position: absolute;
      top: 278px;
    }
  }

  &__tab {
    display: none;
    @media screen and (min-width: 768px) and (max-width: 1279.5px) {
      display: block;
      position: absolute;
      top: 420px;
    }
  }

  &__desktop {
    display: none;
    @media screen and(min-width:1280px) {
      display: block;
      position: absolute;
      top: 420px;
    }
  }
}

.lineBottom {
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__phone {
    display: none;
    @media screen and(max-width:767.5px) {
      display: block;
      position: absolute;
      top: 282px;
    }
  }

  &__tab {
    display: none;
    @media screen and (min-width: 768px) and (max-width: 1279.5px) {
      display: block;
      position: absolute;
      top: 428px;
    }
  }

  &__desktop {
    display: none;
    @media screen and(min-width:1280px) {
      display: block;
      position: absolute;
      top: 428px;
    }
  }
}

.mobHidden {
  @media screen and (max-width: 767.5px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.tabHidden {
  @media screen and (max-width: 1279.5px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.descktopHidden {
  @media screen and (min-width: 1279px) {
    display: none;
  }
}

// Accessories

.accessor {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 38px;
      row-gap: 24px;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 32px;
    }

    @include desktop {
      gap: 20px;
      row-gap: 24px;
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 48px;
    }
  }
  &__item {
    padding-bottom: 12px;
    margin-bottom: 16px;
    display: block;

    @include tablet {
      width: calc((100% - 38px) / 2);
    }

    @include desktop {
      width: calc((100% - 60px) / 4);
    }
  }

  &__link {
    display: inline-block;
  }

  &__img {
    width: 100%;
    border: 1px solid #86e543;
    filter: drop-shadow(0px 4px 4px rgba(134, 229, 67, 0.2));
    border-radius: 12px;
  }

  &__overlayWrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
  }

  &__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px 16px 52px 16px;

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

    color: getColor('PrimaryTitleColor');
    background-color: getColor('BackgroundColor');

    font-family: inherit;
    margin: 0;
    @include font(400, 14px, 16px);

    border: 1px solid #86e543;
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
    border-radius: 12px;
  }

  &__priceThumb {
    display: flex;
    align-items: center;
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
    margin-right: auto;

    margin-bottom: 8px;

    @include font(500, 22px, 26px);
    color: #86e543;
  }

  &__fullPrise {
    @include font(500, 14px, 14px);
    color: #8d9289;
    text-decoration: line-through;
    @media screen and(min-width:200px) {
      margin-right: 80px;
    }
  }
  &__lowPrice {
    @include font(500, 20px, 20px);
    color: #86e543;
  }
}

.accessor__link:hover .accessor__overlay {
  transform: translateY(0);
}

// Filter Buttons

.filter__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;

  @include tablet {
    gap: 53px;
  }

  @include desktop {
    gap: 42px;
  }
}

.filter__item:last-child {
  @include phone {
    margin-bottom: 32px;
  }
}

.filter__item {
  @include tablet {
    margin-bottom: 72px;
  }
}

.btn--filter {
  color: #86e543;
  font-size: 16px;
  line-height: 1.19px;
  background-color: transparent;
  padding: 8px 16px;
  width: 124px;
  height: 35px;
  border: 1px solid getColor('SecondaryTitleColor');
  border-radius: 16px;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    width: 132px;
    height: 51px;
    padding: 16px 28px;
  }

  @include desktop {
    width: 168px;
    padding: 16px 48px;
  }

  &:hover,
  &:focus {
    color: #01383a;
    background: #86e543;
    box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
    border-radius: 16px;
    filter: drop-shadow(0px 4px 10px rgba(134, 229, 67, 0.1))
      drop-shadow(0px 4px 20px rgba(134, 229, 67, 0.4));
  }

  &:active {
    border: none;
    color: getColor('BackgroundColor');
    background-color: getColor('SecondaryTitleColor');
    box-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1),
      0px 4px 20px rgba(134, 229, 67, 0.4);
  }
}
.accessor__swiper {
  width: 100%;
  height: 100%;
  padding: 0;
}

.accessor__swiper-pagination {
  position: static;
}

// .swiper-pagination-bullet {
//   width: 16px;
//   height: 16px;
//   border-radius: 50%;
//   background: #ffffff;
//   margin: 8px;
// }

// .swiper-pagination-bullet-active {
//   width: 40px;
//   height: 16px;

//   background: #ffffff;
//   border-radius: 30px;
//   margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 88px);
// }
