.blog {
  padding-top: 40px;
  padding-bottom: 48px;

  @include tablet {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.blog__container {
  @media screen and (max-width: 767px) {
    padding: 0;
  }

  background-image: url(../images/blog/Vector-mob.svg),
    url(../images/blog/Vector-2-mob.svg);
  background-position-y: 6px, 11px;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/blog/Vector-mob.svg),
      url(../images/blog/Vector-2-mob.svg);
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/blog/Vector-mob.svg),
      url(../images/blog/Vector-2-mob.svg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/blog/Vector-tab.svg),
      url(../images/blog/Vector-2-tab.svg),
      url(../images/blog/background-tab.jpg);

    background-position-y: 44px, 49px, 0px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/blog/Vector-tab.svg),
        url(../images/blog/Vector-2-tab.svg),
        url(../images/blog/background-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    // min-height: 1764px;
    background-image: url(../images/blog/Vector.svg),
      url(../images/blog/Vector-2.svg), url(../images/blog/background.jpg);

    background-position-y: 44px, 49px, 0px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/blog/Vector.svg),
        url(../images/blog/Vector-2.svg), url(../images/blog/background-2x.jpg);
    }
  }
}

.thumb-picture-desktop {
  @include desktop {
    // outline: 1px solid red;
    position: relative;
    border-radius: 12px;
    min-width: 387px;
    max-height: 364px;
    overflow: hidden;
  }
}

.article__picture-desktop {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.blog__title {
  margin-right: 16px;
  margin-left: 16px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;

  @include tablet {
    margin-right: 0;
    margin-left: 59px;

    font-size: 56px;
    line-height: 1.18;
  }

  @include desktop {
    margin-left: 102px;
  }
}

.blog__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 31px;

  @include tablet {
    margin-top: 67px;
  }

  @include desktop {
    margin-top: 75px;
  }
}

.article {
  width: 100%;

  @include desktop {
    display: flex;
  }
}

.wraper-content {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
  }
}

.thumb-picture {
  @media screen and (max-width: 767px) {
    // outline: 1px solid red;
    min-width: 320px;
    max-height: 180px;
    overflow: hidden;
    margin-top: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    // outline: 1px solid red;
    border-radius: 12px;
    min-width: 387px;
    max-height: 228px;
    overflow: hidden;
    margin-top: 16px;
  }
}

.article__picture {
  @include desktop {
    display: none;
  }
}

.article__title {
  margin-right: 16px;
  margin-left: 16px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;

  @include tablet {
    margin-right: 0px;
    margin-left: 0px;

    font-size: 56px;
    line-height: 1;
  }
}

.article__image {
  max-width: 100%;

  @include tablet {
    min-width: 387px;
    margin-left: 0px;
  }
}

.wraper-text {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 40px;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;

    margin-top: 52px;
    margin-left: 0px;
  }
}

.article__autor {
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;

  @include tablet {
    margin-right: 0px;
    margin-left: 0px;

    font-size: 24px;
  }

  @include desktop {
    margin-top: 0px;
  }
}

.article__update {
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #8d9289;

  @include tablet {
    margin-top: 32px;
    margin-right: 0px;
    margin-left: 0px;

    font-size: 24px;
  }

  @include desktop {
    margin-top: 0px;
  }
}

.content-desktop {
  @include desktop {
    margin-left: 120px;
  }
}

.article__text {
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;

  @include tablet {
    margin-right: 0px;
    margin-left: 0px;

    font-size: 24px;
    line-height: 1.17;
  }

  @include desktop {
    margin-top: 24px;
  }
}

.article__link {
  display: block;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 16px;
  text-align: end;
  transform: scale(1);

  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #86e543;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    margin-right: 0px;
    margin-left: 0px;

    font-size: 24px;
  }

  @include desktop {
    margin-top: 16px;
  }
  &:hover,
  &:focus {
    color: #3d8509;
    transform: scale(1, 1.3);
  }
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 2px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 35px;
  }

  :not(:last-child) {
    margin-right: 16px;
  }
}

.slider__icon {
  display: block;
  fill: #ffffff;
}
