.blog {
  margin: 0 auto;
  background-color: #01383a;
  background-image: url(../images/blog/Vector-mob.svg),
    url(../images/blog/Vector-2-mob.svg);
  background-position-y: 46px, 51px;
  background-repeat: no-repeat;

  // background-image: url(../images/blog/Vector-mob.svg),
  //   url(../images/blog/Vector-2-mob.svg), url(../images/blog/background-mob.jpg);
  // background-position: top;
  // background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/blog/Vector-mob.svg),
      url(../images/blog/Vector-2-mob.svg);
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/blog/Vector-mob.svg),
      url(../images/blog/Vector-2-mob.svg);
  }

  @media screen and (min-width: 320px) {
    max-width: 320px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    // min-height: 2442px;
    background-image: url(../images/blog/Vector-tab.svg),
      url(../images/blog/Vector-2-tab.svg),
      url(../images/blog/background-tab.jpg);

    background-position-y: 164px, 169px, 0px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/blog/Vector-tab.svg),
        url(../images/blog/Vector-2-tab.svg),
        url(../images/blog/background-tab-2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/blog/Vector-tab.svg),
        url(../images/blog/Vector-2-tab.svg),
        url(../images/blog/background-tab-3x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    // min-height: 1764px;
    background-image: url(../images/blog/Vector.svg),
      url(../images/blog/Vector-2.svg), url(../images/blog/background.jpg);

    background-position-y: 164px, 169px, 0px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/blog/Vector.svg),
        url(../images/blog/Vector-2.svg), url(../images/blog/background-2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/blog/Vector.svg),
        url(../images/blog/Vector-2.svg), url(../images/blog/background-3x.jpg);
    }
  }
}

.container {
  padding: 0;
  // outline: 1px solid red;
}

.blog__container {
  padding-top: 40px;
  padding-bottom: 48px;

  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.article__picture-desktop {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.blog__title {
  margin-right: 16px;
  margin-left: 16px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    margin-right: 0;
    margin-left: 99px;

    font-size: 56px;
    line-height: 1.18;
  }

  @media screen and (min-width: 768px) {
    margin-left: 142px;
  }
}

// .line {
//   height: 26px;

//   display: block;
//   // border-bottom: 1px solid black;

//   background-image: url(../images/blog/Vector-mob.svg),
//     url(../images/blog/Vector-2-mob.svg);
//   background-position-y: -21px, -16px;
// }

.blog__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 31px;

  @media screen and (min-width: 768px) {
    margin-top: 67px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 75px;
  }
}

.article {
  width: 100%;

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.wraper-content {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.article__picture {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.article__title {
  margin-right: 16px;
  margin-left: 16px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    margin-right: 40px;
    margin-left: 40px;

    font-size: 56px;
    line-height: 1;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 120px;
  }
}

.article__image {
  max-width: 100%;
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    min-width: 387px;
    margin-left: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 0px;
  }
}

.wraper-text {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: space-between;

    margin-top: 52px;
  }
}

.article__autor {
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    margin-right: 40px;
    margin-left: 40px;

    font-size: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 0px;
    margin-right: 96px;
    margin-left: 120px;
  }
}

.article__update {
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 16px;

  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #8d9289;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-right: 40px;
    margin-left: 40px;

    font-size: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 0px;
    margin-right: 40px;
    margin-left: 0px;
  }
}

.article__text {
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    margin-right: 40px;
    margin-left: 40px;

    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 24px;
    margin-left: 120px;
  }
}

.article__link {
  display: block;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 16px;
  text-align: end;

  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #86e543;

  @media screen and (min-width: 768px) {
    margin-right: 40px;
    margin-left: 40px;

    font-size: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 16px;
  }
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 48px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 35px;
  }

  :not(:last-child) {
    margin-right: 16px;
  }
}

.slider__icon {
  display: block;
}
