.hero {
  background-color: getColor('BackgroundColor');

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.hero__container {
  position: relative;
  padding-top: 180px;
  padding-bottom: 203px;

  background-image:
    url(../images/hero-images/hero-main-bg.png),
    url(../images/hero-images/hero-mob-bg-tech.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 300%, contain;
  background-position: top, top;
  background-position-y: -100px, 0;
  background-position-x: -500px, 0;

  @include retina {
    background-image:
      url(../images/hero-images/hero-main-bg@2x.png),
      url(../images/hero-images/hero-mob-bg-tech@2x.png);
  }

  @include tablet {
    padding-top: 154px;
    padding-bottom: 208px;

    background-image:
      url(../images/hero-images/hero-main-bg.png),
      url(../images/hero-images/hero-tab-bg-tech.png);
    background-size: 140%, 379px 645px;
    background-position: top, top right;
    background-position-y: -60px, 0;

    @include retina {
      background-image:
        url(../images/hero-images/hero-main-bg@2x.png),
        url(../images/hero-images/hero-tab-bg-tech@2x.png);
    }
  }

  @include desktop {
    padding-top: 180px;
    padding-bottom: 209px;

    background-image:
      url(../images/hero-images/hero-main-bg.png),
      url(../images/hero-images/hero-desk-bg-tech.png);
    background-size: 100%, 746px 649px;
    background-position: top, top right;
    background-position-y: -136px, 0;

    @include retina {
      background-image:
        url(../images/hero-images/hero-main-bg@2x.png),
        url(../images/hero-images/hero-desk-bg-tech@2x.png);
    }
  }
}

.hero__title {
  display: block;
  max-width: 247px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 32px;
  line-height: calc(38 / 32);
  text-align: center;

  color: getColor('PrimaryTitleColor');

  @include tablet {
    max-width: 388px;
    margin-left: 0;

    font-size: 56px;
    line-height: calc(66 / 56);
    text-align: left;
  }

  @include desktop {
    margin-left: 102px;
    max-width: 515;
    font-size: 64px;
    line-height: calc(75 / 64);
  }
}

.hero__button {
  margin: 0 auto;
  margin-top: 25px;
  min-width: 173px;
  height: 51px;

  @include tablet {
    margin: 0;
    margin-top: 94px;
    min-width: 306px;
    height: 70px;
  }

  @include desktop {
    margin-top: 40px;
    margin-left: 102px;
  }
}
