.hero {
  background-color: getColor('BackgroundColor');
}

.hero__container {
  padding-top: 185px;
  padding-bottom: 125px;
  background-image: url(../images/hero-images/hero-main-bg.png),
    url(../images/hero-images/hero-mob-bg-tech.png);
  // background-size: contain, contain;
  background-position: top -60px right -100px, top -50px right 0;
  background-repeat: no-repeat, no-repeat;
  mix-blend-mode: luminosity;

  @include retina {
    background-image: url(../images/hero-images/hero-main-bg@2x.png),
      url(../images/hero-images/hero-mob-bg-tech@2x.png);
  }

  @include tablet {
    padding-top: 290px;
    padding-bottom: 210px;

    background-image: url(../images/hero-images/hero-main-bg.png),
      url(../images/hero-images/hero-tab-bg-tech.png);
    // background-size: contain, contain;
    background-position: bottom 0, top 0 right 0;

    @include retina {
      background-image: url(../images/hero-images/hero-main-bg@2x.png),
        url(../images/hero-images/hero-tab-bg-tech@2x.png);
    }
  }

  @include desktop {
    padding-top: 315px;

    background-image: url(../images/hero-images/hero-main-bg.png),
      url(../images/hero-images/hero-desk-bg-tech.png);
    // background-size: contain, contain;
    background-position: bottom 0, top 0 right 0;

    @include retina {
      background-image: url(../images/hero-images/hero-main-bg@2x.png),
        url(../images/hero-images/hero-desk-bg-tech@2x.png);
    }
  }
}

.hero__title {
  display: block;
  max-width: 247px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 32px;
  line-height: calc(38 / 32);
  text-align: center;

  color: getColor('PrimaryTitleColor');

  @include tablet {
    max-width: 388px;
    margin-left: 0;

    font-size: 56px;
    line-height: calc(66 / 56);
    text-align: left;
  }

  @include desktop {
    max-width: 515;
    font-size: 64px;
    line-height: calc(75 / 64);
  }
}

.hero__button {
  display: flex;
  width: 173px;
  height: 51px;
  margin: 0 auto;
  margin-top: 25px;

  @include tablet {
    margin: 0;
    margin-top: 94px;
  }

  @include desktop {
    margin-top: 40px;
  }
}
