.hero__section {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 284px;
  padding-bottom: 127px;
  background-color: #01383a;
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  text-align: center;
  background-blend-mode: luminosity;
  background-image:
  url(/src/images/hero-images/frame-mob-1x.png); 
  
  @include retina {
    background-image: 
    url(/src/images/hero-images/frame-mob-2x.png);
  }
  
  @include tablet {
  padding: 290 0 208 0;
  background-position: 319px 169px;
  background-size: 379px 616px;

  background-image:
     url(/src/images/hero-images/frame-tab-1x.png);

  @include retina {
    background-image:
    url(/src/images/hero-images/frame-tab-2x.png);
}
  }

  @include desktop {
  padding: 180 0 209 0;
  background-position: 534px 1px;
  background-size: 611px 573px;


  background-image:
  url(/src/images/hero-images/frame-desk-1x.png);

  @include retina {
   background-image:
   url(/src/images/hero-images/frame-desk-2x.png);
  }
  }
}
.hero__box {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  background-image:
   url(/src/images/hero-images/hero-overlay-1x.png);

  @include retina {
    background-image:
    url(/src/images/hero-images/hero-overlay-2x.png);
  }

  @include tablet {
  background-image: 
  url(/src/images/hero-images/hero-overlay-1x.png),
  url(/src/images/hero-images/hero-overlay-2x.png);
background-repeat: no-repeat;
background-size: 1100px;
background-position: top -50px left -250px;
  }

  @include desktop {
    background-image: 
  url(/src/images/hero-images/hero-overlay-1x.png),
  url(/src/images/hero-images/hero-overlay-2x.png);
background-repeat: no-repeat;
background-size: 1300px;
background-position: top -160px left -50%;
  }
}


.hero__title {
  max-width: 247px;
  margin: 0 37 25 37;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
  color: #ffffff;

  @include tablet {
    max-width: 388px;
    margin-left: 40px;
    font-size: 56px;
    line-height: 1.18;
    text-align:start;
    margin-bottom: 94px;
  }

  @include desktop {
    max-width: 515px;
    margin: 0 623 94 142;
    font-size: 64px;
    line-height: 1.17;
    text-align:start;
  }
}

.hero__button {
  background-color: #86e543;
  @include tablet {}
}
